body{
	margin: 0px;
	background-color: cyan;
	font-family: sans-serif;
	font-size:24px ;
}
a{
	color: #d8c8c8;
	text-decoration: none;
}
p{
	margin:0px;
}
#header{
	background-image: url(../Images/header.jpg);
	background-attachment: fixed;
	background-size: cover;
}
#navigation{
	margin: 0px;
	list-style-type: none;
	display: flex;
	padding-top: 1%;
	padding-bottom: 2%;
	padding-left: 16%;
	padding-right: 16%;
	justify-content: space-evenly;
}
#navigation li a {
	transition: color 0.5s, filter 0.5s;
}
#navigation li a:hover {
	color: yellow;
	filter: drop-shadow(0px 10px 5px black) ;
}
.white-font{
	color: #d8c8c8;
}
.dark-white-font{
	color: white;
}
.dark-white-font li a{
	color: white;
}
.white-font li a{
	color: #d8c8c8;
}

#header-main{
	padding-top: 50px;
	display: flex;
}
#header-left-pane{
	width: 40%;
	display: flex;
	flex-direction: column;
}
#name-big{
	text-align: center;
	width: 100%;
	font-size: 60px;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}
#pic-round{
	height: 100%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	width: 100%;
	text-align: center;
	
}
#pic-round img{
	width: 60%;
	border-radius: 50%;
}
#header-right-pane{
	text-align: center;
	width: 60%;
	font-size: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#header-desc{

	display: inline-block;
	margin-right: 10%;
	margin-left: 2%;
}
#hr-icons{
	margin-bottom: 30px;
	width: 70%;
	height: 3px;
	border: 0px;
	background: #ffffffba;
}
#contact-icons {
	list-style-type: none;
	text-align: center;
	padding: 2%;
	margin: 0px;
	padding: 0px 20% 20px; 
}
#contact-icons li{
	display: inline-block;
	padding: 1%;
	width: 15%;
}
#contact-icons li img{
	width: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	filter: brightness(85%);
	transition: width 0.5s,padding-top 0.5s,padding-bottom 0.5s,filter 0.5s;
}
#contact-icons li img:hover{
	width: 80px;
	padding-top: 0px;
	padding-bottom: 0px;
	filter: drop-shadow(0px 10px 5px black) brightness(100%);
}

#specialization {
	display: flex;
	margin-top: 40px;
	margin-bottom: 40px;
}
#spec-left-pane {
	width: 30%;
}
#spec-left-pane p{
	text-align: center;
	font-size: 30px;
}
#spec-left-pane p span{
	color: maroon;
	display: inline-block;
	border-bottom: 3px solid maroon;
}
#spec-right-pane {
	height: 100%;
	width: 70%;
}
#spec-desc{
	margin-right: 12%;
	color: #a04b4b;
}
.spec-about{
	margin-top: 20px;
}
.progress-bar{
	display: inline-block;
	margin-bottom: 30px;
	text-align: left;
	margin-top: 10px;
	height: 60px;
	width: 80%;
	background-color: #9ab19ade;
	border-radius: 5px;
}
.progress-bar span{
	height: 100%;
	background-color: #e9001e;
	display: inline-block;
	border-radius: 5px;
	text-align: center;
}
.progress-bar span div{
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#projects{
	background-image: url(../Images/projects.jpg);
	background-attachment: fixed;
	background-size: cover;
	padding: 50px;

}

#proj-title{
	color: white;
	filter: drop-shadow(0px 10px 5px black) ;
	font-size: 50px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
}

#boxes{
	font-size: 2.5vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}
#proj-1{
	background-image: url(../Images/scrabble.jpg);
	margin: 20px;
	width: 40vh;
	height: 40vh;
	background-color: black;
	border: 3px solid ghostwhite;
	background-size: cover;
	display: flex;
	flex-direction: column;
	transition: background-image 0.7s;

}

#proj-1:hover{
	background-image: url(../Images/scrabble-blur.jpg);
}
#proj-1:hover .pro-desc{
	color: white;
}
#proj-1:hover .pro-name{
	color: yellow;
	filter: drop-shadow(0px 10px 5px black) ;
}
#proj-1:hover .view a{
	color: white;
	background-color: #008000bf;
	border: 2px solid white;
}


.pro-box{
	margin: 20px;
	width: 40vh;
	height: 40vh;
	background-color: black;
	border: 3px solid ghostwhite;
	background-size: cover;
	display: flex;
	flex-direction: column;
}
.pro-name{
	font-size: 4vh;
	color: transparent;
	padding: 5px;
	text-align: center;
	justify-content: center;
	display: flex;
	align-items: center;
	height: 15%;
	transition: color 0.5s;
}
.pro-desc{
	color: transparent;
	padding: 5px;
	text-align: center;
	display: flex;
	align-items: center;
	height: 55%;
	transition: color 0.5s;
}
.view{
	height: 30%;
	display:flex;
	justify-content: center;
	align-items: center;
}
.view a{
	color: transparent;
	height: 50%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: color 0.5s,background-color 0.5s,border-color 0.5s;
	border: 2px solid transparent;

}

#footer{
	width: 100%;
	height: 400px;
	background-image: url(../Images/footer.jpg);
	background-size: cover;
}














@media only screen and (max-width: 800px) {
	body{
		font-size: 14px;
	}
	#navigation{
		padding-left: 1%;
		padding-right: 1%;
		padding-top: 2%;
	}
	.dark-white-font{
		font-size: 20px;
	}
	#header-left-pane{
		width: 100%;
		display: flex;
		flex-direction: column;
		border-right: none;
	}
	#header-main{
		width: 100%;
		padding-top: 10px;
		display: flex;
		flex-direction: column;
	}
	#header-right-pane{
		width: 100%;
		font-size: 90px;
	}
	#header-desc{
		margin-top: 20px;
		margin-right: 3%;
		margin-left: 3%;
		font-size: 20%;
	}

	#contact-icons {
		list-style-type: none;
		text-align: center;
		padding: 1%;
		margin: 0px;
		padding: 0px 1% 20px; 
	}
	#contact-icons li{
		display: inline-block;
		padding: 1%;
		width: 15%;
	}
	#contact-icons li img{
		width: 40px;
		padding-top: 10px;
		padding-bottom: 10px;
		filter: brightness(85%);
		transition: width 0.5s,padding-top 0.5s,padding-bottom 0.5s,filter 0.5s;
	}
	#contact-icons li img:hover{
		width: 60px;
		padding-top: 0px;
		padding-bottom: 0px;
		filter: drop-shadow(0px 10px 5px black) brightness(100%);
	}
	#specialization {
		flex-direction: column;
	}
	#spec-left-pane {
		width: 100%;
	}
	#spec-left-pane p span{
		font-size: 40px;
	}
	#spec-right-pane {
		margin-top: 2%;
		width: 100%;
	}
	#spec-desc{
		margin: 4%;
		text-align: center;
		font-size: 20px;
	}
	.spec-about{
		font-size: 25px;
		text-align: center;
	}
	.p-bar-parent{
		text-align: center;
	}

	#projects{
		padding: 0px;
	}
	#proj-title{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	#proj-1{
		background-image: url(../Images/scrabble-blur.jpg);
	}

	.pro-desc{
		color: white;
	}
	.pro-name{
		color: yellow;
		filter: drop-shadow(0px 10px 5px black) ;
	}
	.view a{
		color: white;
		background-color: #008000bf;
		border: 2px solid white;
	}

}
